// ==== BUTTONS
.btn {
  // Base Styles
  width: 100%;
  margin-top: calc($base-spacing * 1.5);
  padding: $base-spacing 0;
  border: none;
  border-radius: $border-radius;
  color: $color-bg-light;
  text-transform: uppercase;
  // Transition for the hover effect
  transition: background-color 0.3s ease;
  //==== THE COLOR LOOP
  // This reads: "For every 'name' and 'color' inside '$btn-themes'..."
  @each $name, $color in $btn-themes {
    // Create a class like &.error or &.success
    &.#{$name} {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 10%);
      }
    }
  }
  @media (min-width: $breakpoint-tablet) {
    padding: $base-spacing auto;
    // The '&' represents '.btn', so this compiles to '.btn + .btn'
    & + & {
      margin-left: $base-spacing;
    }
  }
}
