// ==== BUTTONS

.btn {
  margin-top: calc($base-spacing * 1.5);
  width: 100%;
  color: $white;
  border: none;
  padding: $base-spacing 0;
  text-transform: uppercase;
  border-radius: $border-radius;
}

.default {
  background-color: $color-primary;
}

.error {
  background-color: $candy-pink;
}

.info {
  background-color: $blue-purple;
}

.success {
  background-color: $green-teal;
}

.warning {
  background-color: $coral;
}
