// ==== FORMS

.form {
  flex-basis: 100%;
}

.input{
  display: block;
  width: 94%;
  margin: $base-spacing auto 0;
  border: none;
  padding: $base-spacing;
  border-bottom: $border-width-thick solid $accent-color;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
