// ====== Grid System

.container {
  padding: 0 $base-spacing;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em $base-spacing;
}

[class^=col] {
  flex-basis: 100%;
  min-height: calc($base-spacing * 2.5);
  margin-top: $base-spacing;
  padding: $base-spacing;
  border-radius: $border-radius;
}

// --- THE LOOP ---
// This reads: "For every 'number' and 'color' inside '$grid-theme-colors'..."
@each $num, $color in $grid-theme-colors {

  // Generate .theme.col-1, .theme.col-2, etc.
  .theme.col-#{$num} {
    background-color: $color;
  }
}

.card {
  flex-basis: 100%;
}
