//===== IMAGES
.img {
    // ==== Styles for Image Avatar
    &-avatar {
      @extend %img-centered;
      margin-top: $base-spacing;
      max-width: 100%;
      max-height: 100%;
     // Styles for Image Frames
  }
    &-frame {
      @extend %img-centered;
      margin-top: $base-spacing;
      max-width: 100%;
      padding: calc($base-spacing * 1.3);
      border: $border-width-thin solid $color-text;
      // Styles for Logo Image
  }
    &-logo {
      @extend %img-centered;
      @media (min-width: $breakpoint-tablet) {
      margin: 0; 
    }
  }
}
