//===== Media Queries
@media (min-width: $breakpoint-tablet) {

.container {
  max-width: $container-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

header.row {
  align-items: center;
  // ==== To force the Nav items to display on the left side
    .col-9 {
      justify-content: flex-end;
    }
    .nav {
      width: 100%;
      flex-direction: row;
      justify-content: flex-end; /* Ensures links push to the far right */
      align-items: center;
      &-link {
        flex-basis: 100px;
      }
   }
}

[class^=col] {
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}

[class^=col] + [class^=col] {
  margin-left: $base-spacing;
}

.col-1 {
  flex-basis: 8.33%;
}

.col-2 {
  flex-basis: 16.67%;
}

.col-3 {
  flex-basis: 25.00%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.67%;
}

.col-6 {
  flex-basis: 50.00%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.67%;
}

.col-9 {
  flex-basis: 75.00%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-11 {
  flex-basis: 91.67%;
}

.col-12 {
  flex-basis: 100%;
}

.btn {
  padding: $base-spacing auto;
}

.btn + .btn {
  margin-left: $base-spacing;
}

.logo {
  margin-left: initial;
  margin-right: initial;
}

}
