// ====  Base styles
* {
  font-family: $font-stack;
  color: $color-secondary;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


// ===== TYPOGRAPHY

.headline-primary {
  color: $accent-color;
  margin-left: $base-spacing;
}

.headline-secondary {
  font-weight: $font-weight-light;
  color: $color-secondary;
}

.link {
  color: $color-primary;
  font-weight: $font-weight-bold;
}

.blockquote {
  font-size: 1.5em;
  font-weight: $font-weight-light;
  font-style: italic;
  margin-left: calc($base-spacing * 2);
  padding-left: calc($base-spacing * 2);
  border-left: $border-width-heavy solid $accent-color;
  border-radius: $border-radius;
}
